<section id="box1">
<div id="background">
        <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Assumenda voluptas at possimus sed dignissimos animi perferendis 
         sapiente iure eveniet fugiat magni minima ipsam, 
        aspernatur repudiandae culpa aperiam fugit fuga placeat.</p>
</div>
</section>

<section id="box2">
<div class="content">
    <img src="images/cannabis_strain.jpg" alt="Cannabis strain">
    <h2>Death</h2>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, iusto. 
    Sed magnam iste unde odio nostrum suscipit fugit molestiae similique consectetur d
    eleniti dolor, enim error maxime accusamus culpa obcaecati fuga.</p>
</div>
<a href="#" class="info">Add to Cart</a>
</section>

<section id="box3">
    <div class="content2">
        <img src="images/cannabis_strain_2.jpg" alt="Cannabis strain">
        <h2>Killer</h2>
         <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, iusto. 
         Sed magnam iste unde odio nostrum suscipit fugit molestiae similique consectetur d
         eleniti dolor, enim error maxime accusamus culpa obcaecati fuga.</p>
    </div>
    <a href="#" class="info">Add to Cart</a>
</section>