<section id="box1">
    <h2 class="first_Header">The Culture Collective</h2>
<div id="background">
    <p class="text1">Promoting health and happiness in our communities is our primary goal. We employ an education-first approach to child safety, harm reduction, and community wellness..There was once a time when cannabis accessories were limited to a range of practical yet largely uninspired products. But with the widespread growth of the industry post-legalization, you, the consumer, currently have a fresh variety of options available, all designed to enhance your personal 420 experience.</p>
</div>
</section>

<section id="box2">
    <h2 class="headings">Death Stroke</h2>
<div class="content">
    <img src="images/cannabis_strain.jpg" alt="Cannabis strain">
    <p class="text">Indica75% Sativa 25% THC 22-25% Death Stroke is an indica dominant strain created through a cross of the potent Rockstar x Bubba Kush strains. This powerful bud has a well balanced but extremely potent high that is powered by an intensely high THC level that typically falls between 22-25% on average.</p>
</div>
<a href="#" class="info">Add to Cart</a>
</section>

<section id="box3">
    <h2 class="headings">Pineapple Express</h2>
    <div class="content2">
        <img src="images/cannabis_strain_2.jpg" alt="Cannabis strain">
         <p class="text">Pineapple Express is an indica cross created by crossing a Blueberry male with an original U.K. Cheese (a Skunk #1 phenotype) female. The sweet and savory smells of berry and blue cheese combine to create a creamy, unique flavor reminiscent of the original Cheese.</p>
    </div>
    <a href="#" class="info">Add to Cart</a>
</section>

